.button {
    background-color: rgb(5, 6, 45);
    padding: 12px 20px;
    border-radius: 6px;
    transition: 300ms;
}
.button {
    background-image: none;
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Phantomsans, sans-serif;
    font-size: 15px;
    padding: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-left: 6px;
}

.button:active,
.button:hover {
    outline: 0;
}


.button:hover {
    background: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
}
